<% @title = t('.title') %>

<div class="js-security-keys" data-options="<%= @credential_options.to_json %>">
</div>

<div class="t-body l-overflow">
<!--  <div class="l-half--l">-->
    <%#= raw @qrcode_svg %>
<!--  </div>-->
<!--  <div>-->
<!--    <p><%#= t('.scan_prompt') %></p>-->
<!--    <p>-->
<!--      <span id="mfa-account"><%#= t('.account', account: "#{issuer}:#{current_user.email}") %></span><br>-->
<!--      <span id="mfa-key"><%#= t('.key', key: @seed.chars.each_slice(4).map(&:join).join(' ')) %></span><br>-->
<!--      <span id="mfa-type"><%#= t('.time_based') %></span>-->
<!--    </p>-->
<!--  </div>-->
</div>

<%= form_tag security_key_path, method: :post, class: 'js-form' do %>
  <%= hidden_field_tag :data, '' %>
<% end %>
